.ls {
  background: var(--first-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 300px;
  position: relative;
}

.close-friends {
  transform: translate(0, -10px);
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
  display: none;
}

.close-friends .bar {
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color);
  margin: 3px 0;
  transition: all 0.2s ease;
}

.close-friends .bar1 {
  transform: translate(0, 7px) rotate(45deg);
}
.close-friends .bar2 {
  opacity: 0; /* Orta çubuğu gizle */
}
.close-friends .bar3 {
  transform: translate(0, -7px) rotate(-45deg);
}

.on-close-icon {
  transform: translate(60px, -10px);
}
.on-close-icon .bar1 {
  width: 60%;
  transform: translate(12px, 2px) rotate(35deg);
}
.on-close-icon .bar2 {
  opacity: 1;
  transform: translate();
}
.on-close-icon .bar3 {
  width: 60%;

  transform: translate(12px, -2px) rotate(-35deg);
}
.ls-top {
  padding: 5px;

  cursor: default;
  padding: 20px 15px;
}

.ls-profile {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.ls-profile .ls-profile-img {
  cursor: pointer;
  max-width: 3rem;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.ls-profile .ls-profile-img:hover {
  transform: scale(1.1);
}
.ls-profile span {
  font-size: 2rem;
  color: var(--light-secondary-color);
}

.ls-bottom {
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-top: 2px solid var(--secondary-color);
  padding: 10.5px 10px;
  width: 100%;
}
.ls-bottom .logout {
  background-color: transparent;
}

.ls-bottom .logout button {
  background-color: inherit;
  border: 2px solid var(--secondary-color);
  padding: 5px 10px;
  color: var(--white-color);
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 10px;
}
.ls-bottom .logout svg {
  height: 1.2rem;
  width: auto;
  fill: var(--secondary-color);
}

.ls-bottom .copy {
  background-color: transparent;
  font-size: 8px;
}

.ls-search {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  margin-top: 20px;
}

.ls-search img {
  width: 16px;
}

.ls-search input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--white-color);
  font-size: 0.9rem;
}

.ls-search input::placeholder {
  color: var(--white-color);
}

.ls-list {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  height: 100%;
}

.friends {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  border-top: 2px solid var(--light-secondary-color);
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  opacity: 0.85;
}

.friends .friends-pic {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.friends div {
  display: flex;
  flex-direction: column;
}

.friends p {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--light-secondary-color);
}

.friends .msg-div div {
  width: auto;
  max-width: 150px;
  height: 30px;
  font-size: 0.8rem;
  color: var(--light-gray-color);
  margin-left: 15px;
  display: flex;
  justify-content: center;
}

.friends .msg-div div span {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 10px;
  position: relative;
}

.friends .msg-div div .img-msg-div span {
  font-weight: 700;
  font-size: 1rem;
  opacity: 0.4;
  font-style: italic;
}

.friends .img-msg-div {
  align-items: center;
  justify-content: left;
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 10px;
}

.friends .msg-div div svg {
  fill: var(--light-gray-color);
  height: 80%;
}

.add-user img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.friends:hover {
  background-color: var(--secondary-color);
  opacity: 0.8;
}

.friends:hover p {
  color: var(--white-color);
}

.friends:hover span {
  color: var(--white-color);
}
.friends.border {
  border: 3px solid var(--light-secondary-color);
  opacity: 1;
}

.friends.border div span {
  font-weight: 500;
  color: var(--white-color);
}

.friends-active {
  background: linear-gradient(
    to bottom right,
    var(--first-color),
    var(--secondary-color)
  );
  opacity: 1;
}

.friends-active .msg-div div span {
  color: var(--white-color);
}
.friends-active .msg-div p {
  color: var(--white-color);
}
.friends-active:hover {
  opacity: 1;
  background-color: var(--light-secondary-color);
}

@media (max-width: 768px) {
  .ls {
    position: absolute;
    width: 80%;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
    z-index: 1;
  }
  .ls.ls-open {
    transform: translateX(0);
  }
  .ls-profile {
    justify-content: space-between;
  }
  .close-friends {
    display: block;
  }
}
