.profile {
  min-height: 100vh;
  background: url(/background.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

.profile-container {
  background: var(--first-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 50%;
  border-radius: 10px;
}
.profile-container .right-side {
  align-self: center;
  justify-self: center;
}

.profile-container .right-side div {
  display: flex;
  justify-content: space-between;
}
.profile form img {
  object-fit: cover;
  border-radius: 50%;
  width: 4rem;
  aspect-ratio: 1/1;
}
.profile-pic-big {
  width: 15rem;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin: 1.5rem auto;
}

.profile form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
}
.profile from h3 {
  font-weight: 500;
}

.profile label {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--white-color);
  cursor: pointer;
}

.profile form input,
textarea {
  padding: 0.8rem;
  border: 1px solid var(--white-color);
}

.profile button {
  background: var(--secondary-color);
  padding: 0.6rem;
  color: var(--white-color);
  border: none;
  font-size: 16px;
  cursor: pointer;
}
