.ls {
  background: var(--first-color);
  display: flex;
  flex-direction: column;
  min-width: 290px;
  max-height: 100svh;
  position: relative;
}

.ls-top {
  padding: 10px;
  cursor: default;
}

.ls-profile {
  display: flex;
  gap: 20px;
  position: relative;
}

.ls-profile .ls-profile-img {
  object-fit: cover;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.ls-profile .ls-profile-img:hover {
  transform: scale(1.1);
}

.ls-profile span {
  font-size: 2rem;
  color: var(--light-secondary-color);
}
.close-friends {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 40px;
  transition: all 0.3s ease;
  z-index: 1000;
  transform: translateY(-50%);
}

.close-friends .bar {
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color);
  margin: 3px 0;
  transition: all 0.3s ease;
}

.close-friends .bar1 {
  transform: translateY(175%) rotate(45deg);
}
.close-friends .bar2 {
  opacity: 0;
}
.close-friends .bar3 {
  transform: translateY(-175%) rotate(-45deg);
}

.close-friends.on-close-icon {
  transform: translate(calc(100% + 15px), -50%);
}
.close-friends.on-close-icon .bar1 {
  width: 50%;
  transform: translate(100%, 50%) rotate(30deg);
}
.close-friends.on-close-icon .bar2 {
  opacity: 1;
}
.close-friends.on-close-icon .bar3 {
  width: 50%;
  transform: translate(100%, -50%) rotate(-30deg);
}

.ls-search {
  border-radius: 20px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  margin-top: 20px;
}

.ls-search img {
  width: 16px;
}

.ls-search input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--white-color);
  font-size: 0.9rem;
}

.ls-search input::placeholder {
  color: var(--white-color);
}

.ls-list {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  height: 100%;
}

.friends {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  border-top: 2px solid var(--light-secondary-color);
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  opacity: 0.85;
}

.friends .friends-pic {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.friends div {
  display: flex;
  flex-direction: column;
}

.friends p {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--light-secondary-color);
}

.friends .msg-div div {
  max-width: 150px;
  height: 30px;
  font-size: 0.8rem;
  color: var(--light-gray-color);
  margin-left: 15px;
  display: flex;
  justify-content: center;
}

.friends .msg-div div span {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 10px;
  position: relative;
}

.friends .msg-div div .img-msg-div span {
  font-weight: 700;
  font-size: 1rem;
  opacity: 0.4;
  font-style: italic;
}

.friends .img-msg-div {
  align-items: center;
  justify-content: left;
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 10px;
}

.friends .msg-div div svg {
  height: 80%;
  fill: var(--light-gray-color);
}

.add-user img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.friends:hover {
  background-color: var(--secondary-color);
  opacity: 0.8;
}

.friends:hover p {
  color: var(--white-color);
}

.friends:hover span {
  color: var(--white-color);
}

.friends.border {
  border: 3px solid var(--light-secondary-color);
  opacity: 1;
}

.friends.border div span {
  color: var(--white-color);
}

.friends-active {
  background: linear-gradient(
    to bottom right,
    var(--first-color),
    var(--secondary-color)
  );
  opacity: 1;
}

.friends-active .msg-div div span,
.friends-active .msg-div p {
  color: var(--white-color);
}

.friends-active:hover {
  background-color: var(--light-secondary-color);
  opacity: 1;
}
.ls-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--secondary-color);
  padding: 10px;
  width: 100%;
  color: var(--white-color);
}

.ls-bottom .logout {
  background-color: transparent;
}
.ls-bottom .logout svg {
  height: 1.2rem;
  fill: var(--secondary-color);
}

.ls-bottom .copy {
  background-color: transparent;
  font-size: 8px;
}
.ls-bottom .logout button {
  background-color: inherit;
  border: 2px solid var(--secondary-color);
  padding: 5px 10px;
  color: var(--white-color);
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .ls {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    z-index: 4;
  }

  .ls.ls-open {
    transform: translateX(0);
  }

  .close-friends {
    display: block;
  }
}
